/1_TopCV/nbproject/private/
/1_TopCV/build/
/1_TopCV/dist/
# Ignore secret file
1_TopCV/src/java/util/IConstant.java
# Nếu sau này có file config thì ignore luôn
config.properties
*.orig
*.iml
.idea/
/1_TopCV_ite2/nbproject/private/
/1_TopCV_ite2/build/
