-- Test data for Categories table
INSERT INTO Categories (CategoryName, ParentCategoryID) VALUES 
('Công nghệ thông tin', NULL),
('Kinh doanh', NULL),
('Tài chính', NULL),
('Y tế', NULL),
('Giáo dục', NULL),
('Bán hàng', NULL),
('Marketing', NULL),
('Nhân sự', NULL);

-- Check data
SELECT * FROM Categories WHERE ParentCategoryID IS NULL;
